@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/roboto.woff2);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #61686c;
  line-height: 24px;
  letter-spacing: 0.1em;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 55px;
  color: #000000;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
color: #000000;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: black;
}
h4{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: black;
}

