.main-catalog {
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

/*left-column*/

.left-column {
  width: 319px;
  flex-direction: column;
  align-items: flex-start;
}

/*slaider*/
.c-custom {
  width: 250px;
}

.range-controls {
  position: relative;
  width: 259px;
  height: 41px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 195px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
}

.price-controls {
  font-size: 0;
}

.max-price {
  text-align: right;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.radio-conainer {
  display: flex;
  flex-direction: column;
}

.chekbox-container {
  display: flex;
  flex-direction: column;

}

/*right-column*/
.right-column {
  width: 846px;
  margin-left: 129px;
}

.sort {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.heading-sort {
  width: 401px;
}

.c-gallery {
  padding: 0px;
  margin-top:0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.c-gallery li{
  margin-top: 60px;
  position: relative;
}


.browser{
  position: absolute;
  margin-top: -40px;
  opacity: 40%;
}
.c-gallery a:hover .browser{
  opacity: 100%;
}

.browser-wind{
  width: 360px;
  height: 231px;
  position: absolute;
  top: 346px;
  background-color: #eeeeee;
  display: none;
}
.c-gallery a:hover .browser-wind{
  display: block;
}

.wind-b{
  width: 200px;
  height: 50px;
}
