.header {
  width: 100%;
  background-color: #eeeeee;
  min-height: 115px;
}

.active {
  border-bottom: red solid;
}

/*header-menu*/

.header-menu {
  margin: auto;
  min-height: 115px;
  width: 1160px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeeee;
}

.header-menu li {
  display: inline-block;
  width: 110px;
}

.h-logo {
  margin-right: auto;
}

.h-logo:hover {
  opacity: 75%;
}

.h-logo:active {
  opacity: 50%;
}

.link-active:visited {
  text-decoration: underline solid #fb565a;
}

.link-active:hover {
  color: #f87f81;
}

.link-active:active {
  color: black;
  opacity: 50%;
}

.h-basket {
  margin-left: auto;
  text-align: right;
}

.h-basket img {
  opacity: 50%;
  padding-right: 15px;
}

/*heading-page*/

.m-heading {
  width: 100%;
  min-height: 241px;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  vertical-align: center;
}

.gallery-m {
  margin: auto;
}

/*slider-index-footer*/

.main {
  width: 100%;
}

.slider {
  position: relative;
  width: 1160px;
  height: 431px;
  margin: 0 auto;
  background-color: #eeeeee;
}

.slider-button {
  position: absolute;
  left: 500px;
  top: 350px;
}

.slide-grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slide-grid a {
  display: inline-block;
  width: 240px;
  margin-top: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: white;
  background-color: rgb(251, 86, 90);
  border-radius: 5px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
}

.slide-text {
  display: inline-block;
  padding-top: 69px;

}

.slide-title {
  font-family: robotomedium, sans-serif;
  font-size: 55px;
  line-height: 54px;
  color: rgb(0, 0, 0);
  margin-bottom: 43px;
}

.slider > label {
  position: absolute;
  display: none;
}

.slider-button > input:checked:focus .slide1 {
  display: block;
}

