a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  margin: 0;
}



/*main-gallery-index*/

.main {
  width: 100%;
}

.slider {
  position: relative;
  width: 1160px;
  height: 310px;
  margin: 0 auto;
  background-color: #eeeeee;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text {
  width: 380px;
  padding: 30px 0;
  color: #283136;
}

.slide-title {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  color: black;
}

.slide .btn {
  display: block;
  width: 240px;
  padding: 10px 0;
  margin-top: 25px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}

.slide:nth-child(1) {
  background-image: url('../img/nerds-index-slide1.png');
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide:nth-child(2) {
  background-image: url('../img/nerds-index-slide2.png');
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide:nth-child(3) {
  background-image: url('../img/nerds-index-slide3.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

/*main-assortiment-index*/

.asortiment {
  width: 1160px;
  min-height: 348px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 77px;
  display: flex;
  justify-content: space-between;
}

.as-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.asortiment button {
  border: none;
  outline: none;
  width: 160px;
  height: 50px;
}

.a-saiti button {
  color: white;
  background-color: #fb565a;
  opacity: 70%;
}

.a-saiti button:hover {
  background-color: #e74246;
  opacity: 100%;
}

.a-saiti button:active {
  background-color: #d7373b;
  color: rgba(0, 0, 0, 0.4);
}

.a-prilogeniya button {
  color: white;
  background-color: #00ca74;
  opacity: 70%;
}

.a-prilogeniya button:hover {
  color: white;
  background-color: #00bc6c;
  opacity: 100%;
}

.a-prilogeniya button:active {
  background-color: #00aa62;
  color: rgba(0, 0, 0, 0.4);
}

.a-prezentacii button {
  color: white;
  background-color: #efc84a;
}

.a-prezentacii button:hover {
  color: white;
  background-color: #eab534;
  opacity: 70%;
}

.a-prezentacii button:active {
  color: rgba(0, 0, 0, 0.4);
  background-color: #e5a722;
}

/*main-about-index*/

.about {
  width: 1160px;
  margin-top: 124px;
  margin-right: auto;
  margin-left: auto;
  min-height: 528px;
  display: flex;
}

.ab-text {
  width: 732px;
}

.ab-text li {
  padding-left: 50px;
}

.ab-present {
  width: 364px;
  margin-left: auto;
}

.ab-present table {
  border-spacing: 10px;
}

.partner {
  min-height: 182px;
  margin-top: 80px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.partner a {
  opacity: 50%;
}

.partner a:hover {
  opacity: 100%;
}

.partner a:active {
  opacity: 50%;
}
