@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: normal;
}

h1 {
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  color: black;
  font-weight: normal;
}

h3 {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: black;
  font-weight: bold;
}

header {
  background-color: #eee;
  min-height: 545px;
}

.centered {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

nav {
  min-height: 112px;
  padding-top: 49px;

  display: flex;
}

.navigation {
  padding-top: 13px;
  padding-left: 201px;

  font-family: "Roboto Medium", Arial, sans-serif;
  color: black;
  list-style: none;
}

.navigation li {
  margin-right: 42px;
  display: inline-block;
  text-transform: uppercase;
}

.navigation li:last-child {
  margin-left: 240px;
  margin-right: 0;
}

.basket {
  position: relative;
}

.basket::before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: -40px;
  width: 15px;
  height: 15px;

  background: #a6a6a6 no-repeat;
  -webkit-mask-image: url('../img/cart-icon.svg');
  mask-image: url('../img/cart-icon.svg');
}

.promos {
  display: flex;
  justify-content: space-between;
}

.promo {
  width: 400px;
}

.promo h1 {
  margin-top: 74px;
  margin-bottom: 26px;
}

.promo_img {
  padding-top: 14px;
  padding-right: 31px;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  min-height: 50px;
  /* min-width: 200px; */
  padding: 14px 40px 7px 40px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fb565a;
  color: white;
  font-family: "Roboto Medium", Arial, sans-serif;
  border-radius: 4px;
}

.more {
  margin-top: 23px;
  padding: 14px 56px 7px 53px;
}

.types {
  box-sizing: border-box;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 80px 0 0;
  list-style: none;
}

.types li {
  width: 300px;
  /* word-spacing: 1.25px; */
}

.types h3 {
  margin-top: 20px;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.types p {
  width: 250px;
  margin-top: 14px;
}

.order {
  margin-top: 16px;
}

.green {
  background-color: #00ca74;
}

.yellow {
  background-color: #efc84a;
}
