a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  margin: 0;
}

/*main*/

main {
  width: 1160px;
  margin: auto;
}

/*main-assortiment-index*/

.services {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  display: flex;
}

.services > div {
  margin-right: 100px;
}

.service-block {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.service-block1 {
  margin-top: -5px;
  margin-left: 1px;
  letter-spacing: -0.1px;
}

.service-block2 {
  letter-spacing: 0.15px;
  margin-left: 2px;
}

.service-block3 {
  margin-left: 2px;
}

.service-block h3 {
  margin-top: 25px;
  margin-bottom: 21px;
  letter-spacing: 0.09px;
}

.service-block p {
  margin-top: -5px;
}

.services a {
  letter-spacing: 0.1px;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 17px;
}

.saiti-order {
  color: white;
  background-color: rgba(251, 86, 90, 0.9);
  display: flex;
  width: 160px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.order-fontsize {
  font-size: 19px;
}

.saiti-order:hover {
  background-color: rgba(231, 66, 70, 1);
}

.saiti-order:active {
  background-color: rgba(215, 55, 59, 1);
  color: rgba(0, 0, 0, 0.4);
}

.prilogeniya-order {
  color: white;
  background-color: rgba(0, 202, 116, 0.9);
  display: flex;
  width: 160px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.prilogeniya-order:hover {
  color: white;
  background-color: rgba(0, 188, 108, 1);
}

.prilogeniya-order:active {
  background-color: rgba(0, 170, 98, 1);
  color: rgba(0, 0, 0, 0.4);
}

.prezentacii-order {
  color: white;
  background-color: rgba(239, 200, 74, 0.9);
  display: flex;
  width: 160px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.prezentacii-order:hover {
  color: white;
  background-color: rgba(234, 181, 52, 1);

}

.prezentacii-order:active {
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(229, 167, 34, 1);
}

/*main-about-index*/

.about {
  width: 1160px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 15px;
  border-top: #eeeeee 2px solid;
  display: flex;
  justify-content: space-between;
}

.ab-text {
  width: 660px;
  min-height: 368px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ab-text > h2 {
  margin-top: -6px;
  margin-bottom: 0;
  letter-spacing: 0.17px;
}

.ab-text p {
  margin-top: 33px;
  letter-spacing: 0.03px;
}

.ab-text > h4 {
  margin-top: 23px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
}

.ab-text > ul > li {
  margin-top: -2px;
  margin-left: -3px;
  margin-bottom: 26px;
  position: relative;
}

.ab-text > ul > li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  display: inline-block;
  background-color: red;
  left: -35px;
  margin-bottom: 50px;
  top: 11px;
}

.ab-present {
  width: 360px;
  min-height: 407px;
  padding-top: 40px;
  padding-bottom: 33px;
  display: flex;
  flex-direction: column;
}

.ab-present > img {
  min-height: 209px;
  padding-bottom: 35px;
}

.table-caption > h4 {
  margin-top: 0;
}

.index-tabel {
  margin-top: 25px;
}

.tabel-td {
  font-family: 'robotobold', sans-serif;
  font-size: 45px;
  line-height: 11px;
  color: black;
}

.index-tabel tr:last-child td {
  width: 90px;
}

.tabel-td sup {
  font-size: 28px;
}

.index-tabel p {
  margin-top: 26px;
}

.partner {
  width: 1160px;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;

  border-top: #eeeeee 2px solid;
  border-bottom: #eeeeee 2px solid;
}

.partner > li {
  display: inline-block;
  width: 260px;
  min-height: 180px;
  margin-right: 40px;
  position: relative;
}

.partner > li::after {
  content: "";
  display: block;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  position: absolute;
  top: 66px;
  left: 280px;
}

.partner > li:last-child::after {
  display: none;
}

.partner a {
  opacity: 50%;
}

.partner a:hover {
  opacity: 100%;
}

.partner a:active {
  opacity: 50%;
}
