.main-header {
  width: 100%;
  background-color: #eeeeee;
  min-height: 114px;
}

.active {
  border-bottom: red solid;
}

/*header-menu*/
.main-header-nav {
  position: relative;
  width: 1160px;
  margin: auto;
  padding-top: 75px;
}

.main-header-nav a:last-child {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
}

.header-menu {
  width: 440px;
  margin: auto;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
}

.header-menu > li:first-child {
  margin-left: 2px;
}

.header-menu > li:nth-child(2) {
  padding-left: 2px;
}

.header-menu > li:nth-child(3) {
  padding-left: 5px;
}

.header-menu > li > a {
  font-family: 'robotomedium', Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
}

.header-logo {
  position: absolute;
  top: 49px;
  left: 1px;
  z-index: 2;
  width: 159px;
  height: 49px;
}

.header-logo:hover {
  opacity: 75%;
}

.header-logo:active {
  opacity: 50%;
}

.link-active:visited {
  text-decoration: underline solid #fb565a;
}

.link-active:hover {
  color: #f87f81;
}

.link-active:active {
  color: black;
  opacity: 50%;
}

.h-basket {
  position: absolute;
  top: 74px;
  right: 0px;
  font-family: 'robotomedium', Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: black;
}

.h-basket img {
  opacity: 50%;
  padding-right: 24px;
}

.slider {
  position: relative;
  width: 1160px;
  min-height: 431px;
  margin: 9px auto;
  background-color: #eeeeee;
}

.slider-button {
  position: absolute;
  left: 481px;
  top: 316px;
  width: 200px;
  height: 10px;
  text-align: center;
  z-index: 1000;
}

.slider-button i {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: white;
  border: 5px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

.slider-button .active {
  background: #c1c1c1;
}

.slide-text {
  width: 396px;
  margin-top: 80px;
}

.slide-text h1 {
  margin: 0 0 25px 0;
  letter-spacing: 0.2px;
}

.slide-text p {
  margin-top: 26px;
  letter-spacing: 0.1px;
}

.text-btn p {
  margin-top: 12px;
  text-transform: uppercase;
}

.slide-text a {
  display: inline-block;
  width: 240px;
  height: 50px;
  margin-top: 23px;
  text-align: center;
  color: white;
  background-color: rgb(251, 86, 90);
  border-radius: 5px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
}

.slide-grid {
  position: absolute;
  display: none;
}

.slide-grid:nth-child(1) {
  display: flex;
}

/*heading-page-catalog*/

.m-heading {
  width: 100%;
  min-height: 241px;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  vertical-align: center;
}

.gallery-m {
  margin: auto;
  font-family: robotomedium, Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  color: black;
}
.gallery-m h1{
  margin-bottom: 13px;
  letter-spacing: 0.1px;
}



