.footer {
  width: 1160px;
}

.map {
  width: 1440px;
  padding-top: 77px;
  margin: auto;
  position: relative;
}

.map-marker {
  position: absolute;
  top: 78px;
  right: 563px;
}

.f-about {
  position: absolute;
  width: 319px;
  height: 309px;
  background-color: ghostwhite;
  top: 131px;
  left: 141px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-about p:first-child {
  font-size: 19px;
  margin-top: 53px;
  margin-left: -28px;
  letter-spacing: -0.4px;
  color: rgb(0, 0, 0);
}

.f-about p:nth-child(2) {
  width: 214px;
  margin-top: 6px;
  margin-left: -1px;
  margin-bottom: -10px;
  font-size: 16px;
  line-height: 19.6px;
}

.f-about p:nth-child(3) {
  margin-left: -46px;
  margin-bottom: 35px;
  margin-top: 23px;
}

.about-button {
  border: none;
  outline: none;
  width: 220px;
  height: 50px;
  color: rgba(255, 255, 255, 1);
  background-color: #fb565a;
  box-shadow: 0 3px 7px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: -0.25px;

}

.about-button:hover {
  color: rgba(255, 255, 255, 0.4);
}

.write-us {
  min-width: 960px;
  min-height: 560px;
  margin: auto;
  position: absolute;
  background-color: #eeeeee;
  z-index: 9999;
  top: -100px;
  left: 200px;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.7);
  display: none;
}

.modal-show {
  display: block;
}

.write-us:target {
  display: block;
}

.write-container {
  width: 760px;
  height: 434px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.heading-write-us {
  width: 760px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  margin-top: 67px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.close-modal {
  opacity: 50%;
  border: none;
  background-color: transparent;
  outline: none;
}

.close-modal:hover {
  opacity: 100%;
}

.close-modal:active {
  opacity: 50%;
}

.y-name {
  min-width: 360px;
  min-height: 50px;
  display: block;
}

.y-email {
  min-width: 360px;
  min-height: 50px;
  display: block;
}

.y-message {
  min-width: 760px;
  min-height: 118px;
  display: block;
}

.y-active {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.y-active:hover {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.y-active:focus {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.7);
}

.w-button {
  width: 260px;
  height: 50px;
  border: none;
  outline: none;
  background-color: rgb(251, 86, 90);
  color: white;
  border-radius: 5px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.footer2 {
  width: 1160px;
  padding-top: 50px;
  display: flex;
  margin: auto;
}

.f-contact {
  width: 260px;
  display: flex;
  padding: 0;
  margin-left: 2px;
  margin-top: 12px;
}

.f-contact li {
  margin-right: 15px;
}

.f-text {
  width: 740px;
  margin-left: 137px;
  margin-top: 2px;
}

.f-text p:first-child {
  margin-left: 1px;
  margin-top: 13px;
  margin-bottom: -7px;
  letter-spacing: 0.65px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.f-text p:last-child{
  letter-spacing: 0.06px;
}

.border {
  width: 74px;
  height: 72px;
  background-color: #eeeeee;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  display: block;
  border: 1px solid ghostwhite;
}

.border img {
  display: block;
  margin: 38% auto;
}

.border:hover {
  background-color: rgba(231, 66, 70, 1);
}

.border:active {
  background-color: rgba(215, 55, 59, 1);
}

.border:active img {
  opacity: 40%;
}

