a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  margin: 0;
}

/*main*/

main {
  width: 1160px;
  margin: auto;
}

/*main-assortiment-index*/

.asortiment {
  width: 1160px;
  min-height: 348px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 77px;
  display: flex;
  justify-content: space-between;
}

.as-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.asortiment button {
  border: none;
  outline: none;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
}

.a-saiti button {
  color: white;
  background-color: rgba(251, 86, 90, 0.9);
}

.a-saiti button:hover {
  background-color: rgba(231, 66, 70, 1);
}

.a-saiti button:active {
  background-color: rgba(215, 55, 59, 1);
  color: rgba(0, 0, 0, 0.4);
}

.a-prilogeniya button {
  color: white;
  background-color: rgba(0, 202, 116, 0.9);
}

.a-prilogeniya button:hover {
  color: white;
  background-color: rgba(0, 188, 108, 1);
}

.a-prilogeniya button:active {
  background-color: rgba(0, 170, 98, 1);
  color: rgba(0, 0, 0, 0.4);
}

.a-prezentacii button {
  color: white;
  background-color: rgba(239, 200, 74, 0.9);
}

.a-prezentacii button:hover {
  color: white;
  background-color: rgba(234, 181, 52, 1);

}

.a-prezentacii button:active {
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(229, 167, 34, 1);
}

/*main-about-index*/

.about {
  width: 1160px;
  margin-top: 124px;
  margin-right: auto;
  margin-left: auto;
  min-height: 528px;
  display: flex;
}

.ab-text {
  width: 648px;
  min-height: 460px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ab-text li {
  padding-left: 50px;
}

.ab-text > ul > li::before {
  width: 10px;
  height: 5px;
  display: inline-block;
  background-color: red;

}

.ab-present {
  width: 360px;
  min-height: 460px;
  padding-left: 144px;
  padding-bottom: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table-caption {
  margin-bottom: 25px;
  padding-left: 50px;
}

.index-tabel {
  border-spacing: 15px;
}

.tabel-td {
  font-family: 'robotobold', sans-serif;
  font-size: 45px;
  line-height: 11px;
  color: black;
}

.partner {
  min-height: 180px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.partner a {
  opacity: 50%;
}

.partner a:hover {
  opacity: 100%;
}

.partner a:active {
  opacity: 50%;
}
