.main-catalog {
  width: 1161px;
  display: flex;
  justify-content: space-between;
}

/*left-column*/

.left-column {
  width: 259px;
  flex-direction: column;
  align-items: flex-start;
}

/*slaider*/
.c-custom {
  width: 250px;
}

.custom-h3 h3 {
  margin: 0;
}

.custom-h3 {
  margin-top: 60px;
}

.range-filter {
  margin-top: 57px;
}

.range-controls {
  position: relative;
  width: 219px;
  height: 41px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 155px;
}

.price-controls {
  font-size: 0;
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  width: 50%;
  font-size: 16px;
}

.max-price {
  margin-left: 15px;
}

.min-price {
  margin: 0;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.radio-conainer {
  margin-top: 57px;
  display: flex;
  flex-direction: column;
}

.chekbox-container {
  margin-top: 57px;
  display: flex;
  flex-direction: column;

}

.range-button {
  margin-top: 50px;
}

/*right-column*/
.right-column {
  width: 846px;
  margin-left: 140px;
}

.sort {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.up{
  background-image: url("../img/icon-down-dir.svg");
  width: 10px;
  height: 10px;
}
.heading-sort h3 {
  margin: 0;
}

.heading-sort {
  margin-top: 60px;
  width: 401px;
}

.c-gallery ul {
  margin: 0;
}

.c-gallery {
  padding: 0;
  margin-top: 97px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.c-gallery a {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.c-gallery li {
  margin-bottom: 73px;
  position: relative;
}

.browser {
  position: absolute;
  margin-top: -40px;
  opacity: 40%;
}

.c-gallery a:hover .browser {
  opacity: 100%;
}

.browser-wind {
  width: 360px;
  height: 231px;
  position: absolute;
  top: 346px;
  background-color: #eeeeee;
  display: none;

}

.c-gallery a:hover .browser-wind {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wind-b {
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  color: white;
  opacity: 90%;
  background-color: rgba(251, 86, 90, 1);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

.wind-b:hover {
  background-color: rgb(231, 66, 70);
}

.wind-b:active {
  background-color: rgb(215, 55, 59);
}
